<table id="facebook_options">
	<tr>
		<th><%= label_tag Spree.t 'social.products.facebook_id' %></th>
		<td><%= password_field_tag 'facebook_options[facebook_id]', Spree::Config.facebook_app_id %></td>
	</tr>
	<tr>
		<th><%= label_tag Spree.t 'social.products.facebook_layout' %></th>
		<td><%= select_tag 'facebook_options[facebook_layout]', options_for_select(['standard', 'button_count', 'box_count', 'button'], Spree::Config.facebook_layout || 'standard') %></td>
	</tr>
	<tr>
		<th><%= label_tag Spree.t 'social.products.facebook_show_faces' %></th>
		<td><%= check_box_tag 'facebook_options[facebook_show_faces]', false, Spree::Config.facebook_show_faces %></td>
	</tr>
	<tr>
		<th><%= label_tag Spree.t 'social.products.facebook_verb_to_display' %></th>
		<td><%= select_tag 'facebook_options[facebook_verb_to_display]', options_for_select(['like', 'recommend'], Spree::Config.facebook_verb_to_display || 'like') %></td>
	</tr>
	<tr>
		<th><%= label_tag Spree.t 'social.products.facebook_color_scheme' %></th>
		<td><%= select_tag 'facebook_options[facebook_color_scheme]', options_for_select(['light', 'dark'], Spree::Config.facebook_color_scheme || 'light') %></td>
	</tr>
	<tr>
		<th><%= label_tag Spree.t 'social.products.facebook_send_button' %></th>
		<td><%= check_box_tag 'facebook_options[facebook_send_button]', false, Spree::Config.facebook_send_button %></td>
	</tr>
</table>
