<div id="social_nav">
  <h6><%= Spree.t(:bookmark_or_share_this, scope: :social) %></h6>
  <ul>
    <% if Spree::Social::Config.preferred_twitter_button %>
      <li class="twitter">
        <%= render 'spree/social/twitter' %>
      </li>
    <% end %>
    <% if Spree::Social::Config.preferred_pinterest_button %>
      <li class="pinterest">
        <%= render 'spree/social/pinterest' %>
      </li>
    <% end %>
    <% if Spree::Social::Config.preferred_reddit_button %>
      <li class="reddit">
        <%= render 'spree/social/reddit' %>
      </li>
    <% end %>
    <% if Spree::Social::Config.preferred_tumblr_button %>
      <li class="tumblr">
        <%= render 'spree/social/tumblr' %>
      </li>
    <% end %>
    <% if Spree::Social::Config.preferred_delicious_button %>
      <li class="delicious">
        <%= render 'spree/social/delicious' %>
      </li>
    <% end %>
    <% if Spree::Social::Config.preferred_google_plus_button %>
      <li class="google_plus">
        <%= render 'spree/social/google_plus' %>
      </li>
    <% end %>
  </ul>
  <ul class="facebook-like-button">
    <% if Spree::Social::Config.preferred_facebook_button %>
      <li class="facebook">
        <%= render 'spree/social/facebook' %>
      </li>
    <% end %>
  </ul>
</div>
