<div id="social_nav">
  <h6>BOOKMARK OR SHARE THIS</h6>
  <ul>
    <% if Spree::Config.twitter_button %>
      <li class="twitter">
        <%= render :partial => 'spree/social/twitter' %>
      </li>
    <% end %>
    <% if Spree::Config.pinterest_button %>
      <li class="pinterest">
        <%= render :partial => 'spree/social/pinterest' %>
      </li>
    <% end %>
    <% if Spree::Config.reddit_button %>
      <li class="reddit">
        <%= render :partial => 'spree/social/reddit' %>
      </li>
    <% end %>
    <% if Spree::Config.tumblr_button %>
      <li class="tumblr">
        <%= render :partial => 'spree/social/tumblr' %>
      </li>
    <% end %>
    <% if Spree::Config.delicious_button %>
      <li class="delicious">
        <%= render :partial => 'spree/social/delicious' %>
      </li>
    <% end %>
    <% if Spree::Config.gplus_button %>
      <li class="gplus">
        <%= render :partial => 'spree/social/gplus' %>
      </li>
    <% end %>
  </ul>
  <ul class="facebook-like-button">
    <% if Spree::Config.facebook_button %>
      <li class="facebook">
        <%= render :partial => 'spree/social/facebook' %>
      </li>
    <% end %>
  </ul>
</div>
